.content {
    max-width: 350px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.dateSelected {
    font-weight: bold;
    color: var(--color2);
}

.title {
    text-align: center;
}

.exit {
  background: none;
  border: none;
  position: absolute;
}

.slotButton {
  width: 300px;
  height: 70px;
  border-radius: 100px;
  margin: 30px auto;
  border-radius: 15px;
  background: var(--color2);
  color: var(--cream);
}

.timeSlots label {
  background: var(--cream);
  border-radius: 15px;
  padding: 8px;
}

.timeSlots {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  max-width: 250px;
}

.exit img {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.message {
  margin-top: 30px;
}

.message div {
  display: flex;
}

.messageExit {
  background: none;
  border: none;
  color: var(--color2);
  font-size: 12pt;
}

.form {
    width: 100%;
    background: var(--color1);
    border-radius: 30px 30px 0px 0px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 10;
    transform: scale(1, 0);
    transform-origin: bottom;
    transition: transform 0.5s ease-in-out;
}

.formWrapper {
  animation: slideUp 1s ease forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(1000px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

aside {
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto;
}

.step {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  background: grey;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--deep);
  z-index: 5;
  padding: 5px;
}

.step:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    width: 100%;
    height: 2px;
    background: grey;
    z-index: 1;
    
}

.num {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step.active {
    color: var(--highlight);
}

.step.active .num, .step.active .circle  {
  background: var(--highlight);
  color: var(--cream);
}

.step.current .circle {
  background: var(--highlight);
}


.step.active:not(:last-child)::after {
    background: var(--highlight);
}

.main {
  background: linear-gradient(
    160deg,
    #fff8fc 0%,
    #fce8f2 45%,
    #f4c6da 100%
  );
  padding-bottom: 30px;
}

.warning {
  color: red;
  margin: 0;
  padding: 0;
}

.separator {
  margin: 10px auto;
  width: 100%;
}

.separator input {
    min-width: 350px;
    box-sizing: border-box;
    width: 100%;
    font-size: 16pt;
    line-height: 2;
    border-radius: 10px;
    padding: 0px 10px;
    border: none;
}

.button {
  background: var(--luxRouge);
  font-size: 16px;
  color: var(--cream);
  transition: transform 0.5s ease;
  height: 50px;
  width: 250px;
  border-radius: 15px;
  margin: 20px auto;
  transition: transform 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

:disabled {
  background: lightgrey;
  border: grey;
  color: grey;
}

.dateSelected {
  font-size: 18pt;
}

.button:disabled:hover {
  transform: none;
  text-decoration: none;
  cursor: not-allowed;
  color: grey;
}

.yesSlots {
  width: 100%;
  font-size: 16pt;
  background: var(--color1);
  color: var(--deep);
  border-radius: 30px;
  padding: 30px;
  margin: 30px auto 0;
}

.noSlots {
  width: 100%;
  font-size: 16pt;
  background: var(--color2);
  color: var(--cream);
  border-radius: 30px;
  padding: 30px;
  margin: 30px auto 0;
}

.receivedData {
  background: white;
  color: black;
  border:grey solid 1px;
  padding: 20px;
  margin: 0px;
}

.comment {
  position: relative;
  width: 100%;
}

.comment p {
  text-align: right;
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 30px;
  color: grey;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  font-size: 16pt;
  line-height: 2;
  border-radius: 20px;
  padding: 15px;
}

.noSlots img {
  height: 3em;
}

.formContent p {
    font-size: 14pt;
    text-align: justify;
}

.timeSlots input {
      display: none;
}

.timeSlots input:checked + label {
  border: var(--color2) solid 1px;
  box-shadow: 5px 5px 5px var(--deep);
  filter: brightness(1.3);
  color: var(--highlight);
  font-weight: bold;
}

@media (min-width: 800px) {
    .content {
        max-width: 1200px;
        display: flex;
        gap: 100px;
    }

    .noSlots {
      height: 300px;
      align-self: center;
    }

    .form {
        max-width: 1200px;
        flex-direction: row;
        gap: 30px;
    }

    .form p {
        max-width: 550px;
    }

    .formWrapper {
        position: relative;
        width: 100%;
        z-index: 0;
    }

    .comment {
        max-width: 550px;
    }

    .separator input {
        min-width: 550px;
    }

    .formContent {
      margin-bottom: 0px;
    }

    .timeSlots label:hover {
      box-shadow: 5px 5px 5px grey;
    }

    .button:hover {
      transform: scale(0.9);
      filter: brightness(0.8);
    }

    .main {
      padding: 0;
      flex: 1;
    }
}