:root {
  --color1: #FFADC2;
  --color2: #800020;
  --cream: #FFE4EB;
  --rose: #FFADC2;
  --deep: #2E000B;
  --highlight: #ED003B;
  --shadow: rgba(128, 0, 32, .15);
  --luxRouge: linear-gradient(135deg, #6E1F3A, #A65D72, #E3C1C9);
}

h1 {
  color: var(--color2);
  text-align: center;
  margin: 0;
  font-family: "Cormorant Garamond", serif;
}

.smaller {
  display: block;
  color: grey;
  font-size: 14pt;
}

.enter {
  display: block;
  color: var(--deep)
}

body, html, #root {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 10px;
  z-index: 9999;
}

.customHeader {
    background-color: var(--color2);
}

.customHeader h1 {
  color: white;
}

footer {
  background-color: #800020;
  color: var(--cream);
  padding: 50px;
  z-index: 1;
}

.pattern {
  background-color: #800020;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23ffe4eb' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  padding: 10px 50px;
  color: var(--cream);
  height: 100px;
}

h3 {
  color: var(--color2);
  font-size: 18pt;
  text-align: center;
}

.secondary {
  background: none;
  color: var(--cream);
  border: var(--cream) solid 1px;
}

.primary {
  background: var(--color2);
  color: var(--cream);
}

.NotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

li {
  list-style: none;
  padding: 10px 0px;
}

ul {
  padding: 0;
}

a {
  color: inherit;
}

.columns {
  display: flex;
  gap: 80px;
}

.blueLink {
  color: blue;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.title {
    text-align: center;
    color: var(--color2);
    margin: 0;
    padding: 20px;
}

@media (min-width: 800px) {
  .footer-group {
    display: flex;
    gap: 150px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}